<nav class="navbar navbar-light bg-light justify-content-center">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill"><a href="/">Home</a></li>
    <li class="list-group-item flex-fill">
      <a href="/dashboard">Dashboard</a>
    </li>
    <li class="list-group-item flex-fill">
      <a href="/api/user/logout" id="logout">Logout</a>
    </li>
  </ul>
</nav>

<script src="/js/logout.js"></script>