{{>public-nav}}

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Login
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="row">
          <div class="col-md-6">
            <h2>Login</h2>

            <form class="form login-form" id="login-form">
              <div class="form-group">
                <label for="username-input-login">username:</label>
                <input
                  class="form-input"
                  type="text"
                  id="username-input-login"
                />
              </div>
              <div class="form-group">
                <label for="password-input-login">password:</label>
                <input
                  class="form-input"
                  type="password"
                  id="password-input-login"
                />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">
                  login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Sign Up
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="row">
          <div class="col-md-6">
            <h2>Signup</h2>

            <form class="form signup-form" id="signup-form">
              <div class="form-group">
                <label for="username-input-signup">username:</label>
                <input class="form-input" type="text" id="name-input-signup" />
              </div>
              <div class="form-group">
                <label for="password-input-signup">password:</label>
                <input
                  class="form-input"
                  type="password"
                  id="password-input-signup"
                />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">
                  signup
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>